.user {
    height: 50vh;
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.5);

}
.font-outline{
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.5px; 
    font-family: monospace;
}

.userImage {
    width: 183px;
    height: 183px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.userInfo {
    width: 30%;
    margin-top: 100px;
}

.userDescription{
    margin-top: 20px;
    margin-bottom: 60px;
}

.profileImage {
    width: 100%; /* Adjust width for responsiveness */
    /* max-width: 200px; Set maximum width */
    height: 100%;
    border-radius: 50%;
    border: 2px solid black; /* Maintain aspect ratio */
    object-fit: cover;
    object-position: center;
}


.greenBtn {
    background-color: #2AF598;
    border: #2AF598;
    width: 100%; /* Adjust width for responsiveness */
    max-width: 200px; /* Set maximum width */
    height: 55.4px;
    border-radius: 10px;
    margin-top: 15px; /* Add margin for spacing */
}

/* Media Queries for responsiveness */
/* @media only screen and (min-width: 768px) {
    .userImage {
        width: 100%; 
    }
    
    .userInfo {
        width: 100%; 
    }
} */
